<!DOCTYPE HTML>
<html>
<head>
    <title>BookNook - 백엔드 테스트를 위한 임시 화면입니다!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>