{{>layout/header}}

<h1>BookNook - 백엔드 테스트를 위한 임시 페이지입니다.</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/oauth2/authorization/google" class="btn btn-secondary active" role="button">Google Login</a>
            <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">Naver Login</a>
            <a href="/oauth2/authorization/kakao" class="btn btn-warning active" role="button">Kakao Login</a>
        </div>
    </div>
</div>

{{>layout/footer}}